<div class="blog-post-page">
  <div class="blog-full-header default-row">
    <div class="default-column">
      <h1 class="blog-post-title">{{blogPost.title}}</h1>
      <div class="blog-tags">
        {{#each blogPost.topics.data}}
          <a href="/blog/{{link}}" class="blog-tag">{{topic}}</a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="default-row">
    <div class="default-column">
      <div class="blog-full-post">
        <img src="{{blogPost.head_image.data.url}}" alt="">
        <meta property="og:image" content="{{head_image.data.url}}"/>
        <div class="blog-content">
          {{{encodeMyString blogPost.text}}}
        </div>
      </div>
    </div>
  </div>
</div>
