<div class="blog-post-page">
  <div class="blog-full-header default-row">
    <div class="default-column">
      <h1 class="blog-post-title">{{title}}</h1>
      <div class="blog-tags">
        {{#each topics}}
          <a href="/blog/{{link}}" class="blog-tag">{{topic}}</a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="default-row">
    <div class="default-column">
      <div class="blog-full-post">
        <p>
          <img src="{{mainImage}}" alt="">
        </p>
        {{> blog/share class="share-buttons_vertical" }}
        <div class="blog-content">
          {{{encodeMyString text}}}
        </div>
        {{> blog/footer}}
      </div>
    </div>
  </div>
</div>
