<a href="/story/{{id}}">
  <img src="{{pic}}" />
  <div class="student-label">
    <span>
      <div>{{name}}</div>
      <div class="secondary-text">{{qual}}</div>
    </span>
    <img src="{{companylogo}}" />
  </div>
</a>
